<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Dashboard', dashboard_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Account Settings', edit_user_registration_path, class: 'nav-link' %>
      </li>
      <!-- Add more sidebar links here -->
    </ul>
  </div>
</nav>