<!-- app/views/shared/_employer_cta.html.erb -->
<div class="container-fluid bg-secondary text-white text-center p-5 mt-5">
  <h2>Looking to Hire? Find the Best Talent Here!</h2>
  <p class="lead">Post a job and connect with thousands of top tech professionals.</p>
  <a href="/employers/new" class="btn btn-light btn-lg mt-3">Post a Job</a>
</div>
