<!-- app/views/shared/_latest_jobs.html.erb -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Recent Job Openings</h2>
  <div class="list-group">
    <a href="/jobs/1" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Full-Stack Developer</h5>
        <small>Remote</small>
      </div>
      <p class="mb-1">Tech Corp | Full-time | $70,000 - $90,000</p>
      <small>Posted 2 days ago</small>
    </a>
    <a href="/jobs/2" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Data Scientist</h5>
        <small>New York, NY</small>
      </div>
      <p class="mb-1">Innovative Analytics | Full-time | $85,000 - $105,000</p>
      <small>Posted 3 days ago</small>
    </a>
  </div>
  <div class="text-center mt-4">
    <a href="/jobs" class="btn btn-primary">View All Jobs</a>
  </div>
</div>
