<!-- app/views/shared/_top_companies.html.erb -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Top Companies Hiring Now</h2>
  <div class="d-flex justify-content-center">
    <img src="/assets/company1-logo.jpg" class="m-3" alt="Company 1" style="height: 50px;">
    <img src="/assets/company2-logo.jpg" class="m-3" alt="Company 2" style="height: 50px;">
    <img src="/assets/company3-logo.jpg" class="m-3" alt="Company 3" style="height: 50px;">
  </div>
  <div class="text-center mt-4">
    <a href="/companies" class="btn btn-outline-primary">View All Companies</a>
  </div>
</div>
