<% content_for :title, "Editing job listing" %>

<h1>Editing job listing</h1>

<%= render "form", job_listing: @job_listing %>

<br>

<div>
  <%= link_to "Show this job listing", @job_listing %> |
  <%= link_to "Back to job listings", job_listings_path %>
</div>
