<% content_for :title, "New job listing" %>

<h1>New job listing</h1>

<%= render "form", job_listing: @job_listing %>

<br>

<div>
  <%= link_to "Back to job listings", company_job_listings_path(@company) %>
</div>
