.accordion-item {
    border-left: none !important;
    border-right: none !important;
  }
  
  .accordion-header {
    border-left: none !important;
    border-right: none !important;
  }
  
  .accordion-collapse {
    border-left: none !important;
    border-right: none !important;
  }
  
  .accordion-button {
    border-left: none !important;
    border-right: none !important;
  }
  